.screenContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.screenGrid {
  flex: 0 0 70%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.screenGrid > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.timer {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16em;
  color: gray;
  background-color: white;
}
